<div class="gh-topic-nav">
    {{#foreach navigation}}
        <div class="gh-topic-nav-item">
            
            {{!-- 1. Fetch the tags FIRST --}}
            {{#get "tags" filter="slug:~^'{{slug}}-'" limit="all" as |subtopics|}}
                
                {{#if subtopics}}
                    {{!-- HAS SUB-TAGS: Show link with the SVG arrow + the Dropdown --}}
                    <a href="{{../url}}" class="gh-topic-nav-link">
                        {{../label}} 
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="6 9 12 15 18 9"></polyline></svg>
                    </a>
                    
                    <div class="gh-topic-dropdown">
                        <a href="{{../url}}">All {{../label}}</a>
                        <div class="gh-topic-dropdown-divider"></div>
                        
                        {{#foreach subtopics}}
                            {{#match slug "!=" ../slug}}
                                <a href="/{{../../slug}}/#{{slug}}">{{name}}</a>
                            {{/match}}
                        {{/foreach}}
                    </div>
                    
                {{else}}
                    {{!-- NO SUB-TAGS: Show a plain link with no arrow (Home, About, etc.) --}}
                    <a href="{{../url}}" class="gh-topic-nav-link">
                        {{../label}}
                    </a>
                {{/if}}

            {{/get}}
            
        </div>
    {{/foreach}}
</div>